{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'coder_page/images/favicon.ico' %}">
        <title>Test site for test work</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        
        <div class="container">
            <a href="{% url 'home' %}"><h3>Home</h3></a>
            <p>First page</p>
            <hr>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <a href="/nodeads/"><h3 class="text-center">Nodeads</h3></a>
                </div>
                <div class="col-sm-2">
                    <h3 class="text-center">OR</h3>
                </div>
                <div class="col-sm-5">
                    <a href="/lit/"><h3 class="text-center">LIT</h3></a>
                </div>
            </div>
        </div>
    
        <div class="container">
            <hr>
            <footer>
                <p>&copy; 2016 Company, Inc.</p>
            </footer>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </body>
</html>
